@font-face{
	font-family: "beachfont";
	src: local("@"), url("fonts/beach_font.ttf") format("truetype");
}

body{
	background-color: rgba(122, 122, 122, 0.55);
	background-image: url(img/bg_img.png);
}

h1{
	text-align: center;
	color: #8609C5;
}

h3{
	font-family: beachfont;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.28)
}

img{
	border: 2px solid black;
	box-shadow: 1px 2px 5px red;
}

img:hover {
	border: solid yellow 2px;
}

h2{
	text-align: center;
	font-weight: 100;
	color: rgba(0,0,0,0.1);
}

.active:active{
	border: 2px solid red;
	
}

.focus:focus{
	border: 2px dotted red;
}

.visited:visited{
	border: dashed 2px aqua;
}